<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/randomPokemon.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Pokemon</title>
</head>
<body>
    <div class="content">
        <h1>Pokemon</h1>
        <%- include('partials/nav-bar.ejs')%>
        <h2><b>Name:</b> <%= name %></h2>

        <p><b>Non-Shiny Variation</b></p>
        <img src="<%= sprite %>" alt="<%= name %>" width="50%">
        <p><b>Shiny Variation</b></p>
        <img src="<%= shiny %>" alt="<%= name %>" width="50%">

        <p><b>Type(s):</b> <%= types.join(', ') %></p>
        <p><b>Weight:</b> <%= weight %> lbs</p>
        <p><b>Height:</b> <%= height %> inches</p>
        <p><b>Base XP:</b> <%= base_xp %> xp</p>
        <p><b>ID:</b> <%= id %></p>




        <a href="/randomPokemon" style="display: block; margin-top: 20px;">Show Another Pokémon</a>

    </div>
    
</body>
</html>